################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/My.XXX.API/bin
/My.XXX.API/obj
/My.XXX.Persistence/bin
/My.XXX.Persistence/obj
/My.XXX.Shared/obj
/My.XXX.Shared/bin
/My.XXX.UnitTests/bin
/My.XXX.UnitTests/obj
/My.XXX.IntegrationTests/bin
/My.XXX.IntegrationTests/obj
/My.XXX.UnitTests/TestResults
/My.XXX.IntegrationTests/TestResults
/My.XXX.Services/obj
/My.XXX.Services/bin
/My.XXX.API/logs
/My.XXX.API/logs/log2021072013.txt
bin
/My.XXX.API/UI/node_modules.zip
/My.XXX.API/UI
/My.XXX.APIs/logs
/My.XXX.APIs/obj
/My.XXX.APIs/xxx2022030816.txt
/My.XXX.APIs/.config
/My.XXX.APIs/wwwroot/xxx.tar
/My.XXX.Service/obj
/My.XXX.Shared/obj
**/keys/
**/Common/DataProtection/key-*.xml
.test-artifacts/
*.secrets.json
/My.XXX.Contracts/bin
/My.XXX.Contracts/obj
/My.XXX.Infrastructure/bin
/My.XXX.Infrastructure/obj
/My.XXX.Contracts/bin
/My.XXX.Contracts/obj
/My.XXX.Contracts/obj/Debug/net10.0/ref/My.XXX.Contracts.dll
/My.XXX.Contracts/obj/Debug/net10.0/refint/My.XXX.Contracts.dll
/My.XXX.Contracts/obj/04My.XXX.Contracts.csproj.nuget.dgspec.json
/My.XXX.Contracts/obj/project.assets.json
/My.XXX.Contracts/obj/project.nuget.cache
/My.XXX.Contracts/obj/Debug/net10.0/04My.XXX.Contracts.AssemblyInfo.cs
/My.XXX.Contracts/obj/Debug/net10.0/04My.XXX.Contracts.AssemblyInfoInputs.cache
/My.XXX.Contracts/obj/Debug/net10.0/04My.XXX.Contracts.assets.cache
/My.XXX.Contracts/obj/Debug/net10.0/04My.XXX.Contracts.csproj.AssemblyReference.cache
/My.XXX.Contracts/obj/Debug/net10.0/04My.XXX.Contracts.csproj.CoreCompileInputs.cache
/My.XXX.Contracts/obj/Debug/net10.0/04My.XXX.Contracts.sourcelink.json
/My.XXX.Contracts/obj/Debug/net10.0/My.XXX.Contracts.dll
/My.XXX.Contracts/obj/Debug/net10.0/My.XXX.Contracts.pdb
/My.XXX.Infrastructure/obj/Debug/net10.0/06My.XXX.Infrastructure.AssemblyInfo.cs
/My.XXX.Infrastructure/obj/Debug/net10.0/06My.XXX.Infrastructure.AssemblyInfoInputs.cache
/My.XXX.Infrastructure/obj/Debug/net10.0/06My.XXX.Infrastructure.assets.cache
/My.XXX.Infrastructure/obj/Debug/net10.0/06My.XXX.Infrastructure.csproj.AssemblyReference.cache
/My.XXX.Infrastructure/obj/Debug/net10.0/06My.XXX.Infrastructure.csproj.CoreCompileInputs.cache
/My.XXX.Infrastructure/obj/Debug/net10.0/06My.XXX.Infrastructure.sourcelink.json
/My.XXX.Infrastructure/obj/Debug/net10.0/My.XXX.Infrastructure.dll
/My.XXX.Infrastructure/obj/Debug/net10.0/My.XXX.Infrastructure.pdb
/My.XXX.Infrastructure/obj/Debug/net10.0/refint/My.XXX.Infrastructure.dll
/My.XXX.Infrastructure/obj/06My.XXX.Infrastructure.csproj.nuget.dgspec.json
/My.XXX.Infrastructure/obj/Debug/net10.0/ref/My.XXX.Infrastructure.dll
/My.XXX.Infrastructure/obj/project.assets.json
/My.XXX.Infrastructure/obj/project.nuget.cache
