################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/My.XXX.API/bin
/My.XXX.API/obj
/My.XXX.Persistence/bin
/My.XXX.Persistence/obj
/My.XXX.Shared/obj
/My.XXX.Shared/bin
/My.XXX.UnitTests/bin
/My.XXX.UnitTests/obj
/My.XXX.IntegrationTests/bin
/My.XXX.IntegrationTests/obj
/My.XXX.UnitTests/TestResults
/My.XXX.IntegrationTests/TestResults
/My.XXX.Services/obj
/My.XXX.Services/bin
/My.XXX.API/logs
/My.XXX.API/logs/log2021072013.txt
bin
/My.XXX.API/UI/node_modules.zip
/My.XXX.API/UI
/My.XXX.APIs/logs
/My.XXX.APIs/obj
/My.XXX.APIs/xxx2022030816.txt
/My.XXX.APIs/.config
/My.XXX.APIs/wwwroot/xxx.tar
/My.XXX.Service/obj
/My.XXX.Shared/obj
**/keys/
**/Common/DataProtection/key-*.xml
.test-artifacts/
*.secrets.json
